body {
    background-color: #FFFDD0;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    /* background-image: url(/hinhanh/giphy.gif);
    background-repeat: no-repeat;
    background-position:center 15vw;
    position: relative; */
    /* background-image: url(../hinhanh/slideshow_2.jpg);
    background-repeat: no-repeat;
    background-position: 0 0 0 0; */
}


#brand {
    font-family: cursive;
    color: #89CFF0;
    text-align: center;
    font-size: 110px;
    margin: 0px 20px;
    text-shadow: 2px 3px 5px;
}

a {
    text-decoration: none;
    color: black;
}

#hrleft {
    color: black;
    height: 0px;
    width: 100%;
}

#hrright {
    color: black;
    height: 0px;
    width: 100%;
}

#header {
    display: flex;
    align-items: center;
}

.icontool {
    position: relative;
    top: 75px;
    font-size: 25px;
}

/* .iconcart {
    position: relative;
    left: 1850px;
    top: 75px;
    font-size: 25px;
} */

ul {
    list-style-type: none;
    padding: 0px;
    margin: 0px;
}

.subcontent {
    display: none;
    padding-top: 10px;
}

.icontool:hover .subcontent {
    display: block;
    position: absolute;
    z-index: 1;
}

ul > li {
    padding-top: 10px;
    max-width: 200px;
}

ul > li > a {
    display: block;
    padding: 10px;
}

ul > li > a:hover {
    background-color: #89CFF0;
}

h1.title {
    font-weight: bold;
    text-align: center;
    margin-top: 80px;
}

h1.title::after{
    content: "--o0o--";
    display: block;
    font-size: 20px;
}

.d-flex {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.course {
    background-image: url(../hinhanh/blog1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    color: black;
    padding: 20%;
}

div.text {
    font-weight: bold;
}

.col-70 {
    width: 70%;
    margin: auto;
}

div.bg {
    margin-top: 1%;
}

div.bg > img {
    width: 100%;
}

a.gts {
    font-weight: bold;
    position: absolute;
    border: 1px solid #89CFF0;
    padding: 10px;
    border-radius: 20px;
    background-color: #89CFF0;
    /* top: 43vw; */
    left: 45vw;
    /* margin-left: 45%; */
    top: 600px;
    animation: animation 1s infinite;
}

@keyframes animation {
    0%{background-color: #89CFF0;}
    100%{background-color: black;color: #89CFF0;}
}

@keyframes animation1 {
    0%{color: black;}
    100%{color: #89CFF0;}
}

.copyright{
    text-align: center;
}

.infor{
    font-size: 25px;
    overflow:auto;
}

p.infor ~ ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    float: left;
}
p.infor ~ ul > li {
    display: block;
    padding: 10px;
}
.footer > iframe {
    height: 200px;
    margin-left: 0px;
}
.copy {
    clear: left;
    height: 40px;
}

.footer1 {
    display: flex;
    justify-content:flex-start;
}

#gototop {
    text-decoration: none;
    display: block;
    padding: 15px 15px;
    background-color: #89CFF0;
    color: black;
    position: fixed;
    right: 15px;
    bottom: 15px;
    border-radius: 5px 5px;
    z-index: 9999;
    display: none;
}

.map {
    width: 800px;
    height: 100%;
}

#gotobot {
    text-decoration: none;
    display: block;
    padding: 10px 10px;
    font-size: 150px;
    color: black;
    position: absolute;
    left: 45vw;
    top: 650px;
    z-index: 9999;
    animation: animation1 1s infinite;
}







