body {
    background-color: #FFFDD0;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    /* background-image: url(/hinhanh/giphy.gif);
    background-repeat: no-repeat;
    background-position:center 15vw;
    position: relative; */
    background-image: url(/hinhanh/slideshow_2.jpg);
    background-repeat: no-repeat;
    background-position: 0 0 0 0;
}


#brand {
    font-family: cursive;
    color: #89CFF0;
    text-align: center;
    font-size: 110px;
    margin: 0px 20px;
    text-shadow: 2px 3px 5px;
}

a {
    text-decoration: none;
    color: black;
}

#hrleft {
    color: black;
    height: 0px;
    width: 100%;
}

#hrright {
    color: black;
    height: 0px;
    width: 100%;
}

#header {
    display: flex;
    align-items: center;
}

.icontool {
    position: relative;
    top: 75px;
    font-size: 25px;
}

/* .iconcart {
    position: relative;
    left: 1850px;
    top: 75px;
    font-size: 25px;
} */

ul {
    list-style-type: none;
    padding: 0px;
    margin: 0px;
}

.subcontent {
    display: none;
    padding-top: 10px;
}

.icontool:hover .subcontent {
    display: block;
    position: absolute;
    z-index: 1;
}

ul > li {
    padding-top: 10px;
    max-width: 200px;
}

ul > li > a {
    display: block;
    padding: 10px;
}

ul > li > a:hover {
    background-color: #89CFF0;
}

a.gts {
    font-weight: bold;
    position: absolute;
    border: 1px solid #89CFF0;
    padding: 10px;
    border-radius: 20px;
    background-color: #89CFF0;
    /* top: 43vw; */
    left: 45vw;
    /* margin-left: 45%; */
    top: 800px;
}



@media screen and (max-width: 900px){
    body {
        background-position: top;
    }
}

@media screen and (max-width: 600px){
    body {
        background-position: top;
    }
    #brand {
        font-size: 90px;
    }

    a.gts {
        top: 350px;
        left: 120px;
    }
}